.android-large-1-child {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: #1a1a1a;
  height: 77px;
}
.opens {
  position: absolute;
  top: 14px;
  left: calc(50% - 92px);
  display: inline-block;
  width: 213px;
  height: 80px;
}
.image-12x-1-icon {
  position: absolute;
  top: 7px;
  left: calc(50% + 76px);
  width: 57px;
  height: 63px;
  object-fit: cover;
}
.android-large-1-item {
  position: absolute;
  width: 100%;
  top: 76px;
  right: 0;
  left: 0;
  background-color: #1e1e1e;
  height: 1000px;
}
.info-child {
  position: absolute;
  top: 0;
  left: calc(50% - 151px);
  border-radius: 50%;
  background-color: var(--color-gainsboro);
  width: 210px;
  height: 136px;
}
.aryan-jaswal,
.div {
  position: absolute;
  display: inline-block;
}
.aryan-jaswal {
  top: 157px;
  left: calc(50% - 140px);
  font-size: var(--font-size-12xl);
  width: 336px;
  height: 73px;
}
.div {
  top: 208px;
  left: calc(50% - 109px);
  font-size: 22px;
  color: var(--color-gainsboro);
  width: 167px;
  height: 66px;
}
.b,
.btech,
.computer-science,
.sem-4 {
  position: absolute;
  top: 271px;
  display: inline-block;
}
.computer-science {
  left: calc(50% - 172px);
  font-size: 16px;
  width: 166px;
  height: 25px;
}
.b,
.btech,
.sem-4 {
  left: calc(50% - 12px);
  width: 97px;
  height: 74px;
}
.btech,
.sem-4 {
  top: 334px;
  left: calc(50% - 152px);
  width: 125px;
  height: 46px;
}
.sem-4 {
  left: calc(50% - 9px);
  width: 94px;
  height: 52px;
}
.info,
.mst-record {
  position: absolute;
  top: 115px;
  left: calc(50% - 124px);
  width: 344px;
  height: 386px;
  font-size: var(--font-size-mini);
}
.mst-record {
  top: 501px;
  left: calc(50% - 101px);
  font-size: var(--font-size-12xl);
  display: inline-block;
  width: 244px;
  height: 73px;
}
.android-large-1-inner {
  position: absolute;
  top: 556px;
  left: calc(50% - 156px);
  width: 300px;
  height: 244px;
}
.android-large-1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1000px;
  overflow: hidden;
  text-align: left;
  font-size: 46px;
  color: var(--color-white);
  font-family: var(--font-inter);
}

table {
  color: white;
  font-size: 15px;
  border: 2px solid;
  border-image: linear-gradient(to right, #ff0000, #00ff00);
  border-image-slice: 1;
  border-collapse: separate;
}

td {
  color: white;
  font-size: 10px;
  border: 2px solid;
  border-image: linear-gradient(to right, #ff0000, #00ff00);
  border-image-slice: 1;
  border-collapse: separate;
}

body {
  background-color: #1e1e1e;
}

