.android-large-1-child {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-gray-100);
  height: 77px;
}
.opens {
  position: absolute;
  top: 14px;
  left: calc(50% - 91.5px);
  display: inline-block;
  width: 213px;
  height: 80px;
}
.image-12x-1-icon {
  position: absolute;
  top: 7px;
  left: calc(50% + 76.5px);
  width: 57px;
  height: 63px;
  object-fit: cover;
}
.android-large-1-item {
  position: absolute;
  width: 100%;
  top: 76px;
  right: 0;
  left: 0;
  background-color: #1e1e1e;
  height: 3600px;
}
.professor-detail {
  position: absolute;
  top: 113px;
  left: calc(50% - 125.5px);
  font-size: 27px;
  display: inline-block;
  width: 231px;
  height: 84px;
}
.group-child {
  position: absolute;
  top: 0;
  left: calc(50% - 230.22px);
  border-radius: 20px;
  background-color: var(--color-gray-100);
  width: 384px;
  height: 150px;
}
.group-item {
  position: absolute;
  top: 16px;
  left: calc(50% - 187.2px);
  border-radius: 50%;
  background-color: #d9d9d9;
  width: 86.39px;
  height: 71px;
}
.aryan-jaswal,
.principal {
  position: absolute;
  top: 16px;
  left: calc(50% - 86.85px);
  display: inline-block;
  width: 139.89px;
  height: 53px;
}
.principal {
  top: 47px;
  color: rgba(255, 255, 255, 0.5);
  width: 195.79px;
  height: 82px;
}
.aryanjaswaliitgmailcom,
.b {
  position: absolute;
  top: 119px;
  left: calc(50% - 202.86px);
  display: inline-block;
  width: 97.71px;
  height: 16px;
}
.aryanjaswaliitgmailcom {
  top: 118px;
  left: calc(50% - 53.1px);
  width: 258.01px;
  height: 75px;
}
.computer-science,
.dbms-java,
.mtech2015 {
  position: absolute;
  top: 97px;
  left: calc(50% - 202.27px);
  display: inline-block;
  width: 124.78px;
  height: 13px;
}
.computer-science,
.dbms-java {
  top: 75px;
  left: calc(50% - 86.85px);
  width: 159.93px;
  height: 88px;
}
.computer-science {
  top: 5px;
  left: calc(50% + 24.94px);
  width: 205.28px;
  height: 22px;
}
.rectangle-parent {
  position: absolute;
  top: 197px;
  left: calc(50% - 171.5px);
  width: 460.44px;
  height: 193px;
  font-size: var(--font-size-4xs);
}
.android-large-1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 3600px;
  overflow: hidden;
  text-align: left;
  font-size: 46px;
  color: var(--color-white);
  font-family: var(--font-inter);
}

body {
  background-color: #1e1e1e;
  
}
